{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/meme/list.css" />
{{/block}}

{{block 'main'}}
<div class="info_box">
  <div class="label">清语表情列表</div>
  <div class="total">表情总数：{{total}}</div>
  <div class="cfg-box">
    {{if memeList.length > 0}}
      {{each memeList item index}}
        {{if index % 50 === 0}}
          {{if index !== 0}}</ul></div>{{/if}}
          <div class="cfg-column">
            <ul class="cfg-ul">
        {{/if}}
        <li class="cfg-li">
          <span>
            {{index + 1}}. {{item.name || '未知表情'}}
          </span>
          <div class="icons">
            {{if item.types && item.types.includes('text')}}
              <img src="{{_res_path}}/meme/imgs/icons/text.svg" alt="text" />
            {{/if}}
            {{if item.types && item.types.includes('image')}}
              <img src="{{_res_path}}/meme/imgs/icons/image.svg" alt="image" />
            {{/if}}
            {{if item.types && item.types.includes('arg')}}
              <img src="{{_res_path}}/meme/imgs/icons/arg.svg" alt="arg" />
            {{/if}}
          </div>
        </li>
      {{/each}}
      </ul>
      </div>
    {{else}}
      <div class="no-data">暂无表情数据</div>
    {{/if}}
  </div>
</div>
{{/block}}
