.container {
    background-image: url('./imgs/bg-01.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
}

.info_box {
    padding: 20px;
    background: #f4f4f4c5;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: visible;
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
    border: 1px solid #d2d2d2;
}

.label {
    font-size: 36px;
    font-weight: bold;
    color: #3d5a8d;
    text-align: center;
    margin-bottom: 16px;
    letter-spacing: 0.5px;
}

.total {
    font-size: 18px;
    font-weight: 500;
    color: #5c87b2;
    text-align: center;
    margin-bottom: 20px;
}

.cfg-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    background: #f6f6f6;
    border-radius: 12px;
    border: 1px solid #d0d0d0; 
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.03); 
}

.cfg-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: #ebebeb;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #cfcfcf; 
    box-shadow: none;
}
.emoji-keyword {
    font-size: 16px;
    font-weight: 600;
    color: #4a6e91; 
}
.emoji-count {
    font-size: 14px;
    font-weight: bold;
    color: #558fc8; 
}
